<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Ligue{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        {% block links %}
            <link rel="icon" type="image/x-icon" href="{{ asset('assets/images/Logo.png') }}" />
            <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" />
        {% endblock %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="is-preload">

        {% block header %}{% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
        {% block javascripts %}

            <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.poptrox.min.js') }}"></script>
            <script src="{{ asset('assets/js/browser.min.js') }}"></script>
            <script src="{{ asset('assets/js/breakpoints.min.js') }}"></script>
            <script src="{{ asset('assets/js/util.js') }}"></script>
            <script src="{{ asset('assets/js/main.js') }}"></script>
            <script src="{{ asset('assets/js/moment.min.js') }}"></script>

        {% endblock %}

    </body>
</html>
