{% extends 'layout.html.twig' %}

{% block links %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block body %}

    <!-- Main -->
    <div id="main">

        <!-- One -->
        <section id="one">
            <header class="major">
                <h2>Calendrier des matchs</h2>
            </header>
            <p>Vous trouverez dans cette section tout les matchs de la saison</p>
        </section>

        <section id="two">
            <div>
                <a href="{{ path('fullcalendar_index') }}"><img src="{{ asset('assets/images/fulls/calendar.png') }}" class="index-img"></a>
            </div>
        </section>

    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}


