
    <link href='https://use.fontawesome.com/releases/v5.0.6/css/all.css' rel='stylesheet'>
    <link href='{{ asset('assets/css/fullcalendar/fullcalendar.css') }}' rel='stylesheet' />
    <link href='{{ asset('assets/css/fullcalendar/fullcalendar.print.css') }}' rel='stylesheet' media='print' />

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    {# SCRIPT DES ROLES POUR ADMINISTRATION #}
    <script>
        {% if is_granted('ROLE_ADMIN') %}
        var role = 'admin';
        {% else %}
        var role = null;
        {% endif %}
    </script>
    <script src='{{ asset('assets/js/moment.min.js') }}'></script>
    <script src='{{ asset('assets/js/jquery.min.js') }}'></script>
    <script src='{{ asset('assets/js/fullcalendar/fullcalendar.js') }}'></script>
    <script src='{{ asset('assets/js/fullcalendar/theme-chooser.js') }}'></script>
    {#<script src="{{ asset('assets/js/fullcalendar/calendar-events.js') }}"></script>#}
    <script>
        $(document).ready(function() {

            initThemeChooser({

                init: function(themeSystem) {
                    $('#calendar').fullCalendar({
                        themeSystem: themeSystem,
                        defaultDate: '2019-03-12',
                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'month,agendaWeek,agendaDay'
                        },
                        lang: 'fr',
                        navLinks: true, // Peut cliquer sur jour/semaine pour avoir une vue
                        selectable: true, // Permet de cliquer sur la case pour envoyer au new
                        selectHelper: true,

                        firstDay: 1, // jour ou l'agenda commentce 1 = lundi, 2 = mardi , etc...
                        weekNumbers: true, // affichage du numéro de la semaine en cour
                        businessHours: { // heure de travail
                            start: '09:00',
                            end: '23:00',
                            dow: [1, 2, 3, 4, 5]
                        },
                        handleWindowResize: true, // redimensionne auto du calendrier en fonction de la width du navigateur
                        weekends: true, // affichage des weekends
                        slotLabelFormat: 'HH:mm', // format de l'heure sur les slots
                        timeFormat: 'HH:mm',
                        minTime: "08:00:00", // heure de début du calendar
                        slotEventOverlap: false, // Les évènements ne se chevauchent pas

                        editable: true,
                        eventLimit: true, // allow "more" link when too many events

                        events: Routing.generate('calendarJson_index'),

                        dayClick: function (date) {

                            /* VERIFICATION QUE LA DATE NE SOIT PAS INFERIRIEUR A LA SELECTION / DEFINITION DES ROLES */
                            if (date._d >= current_date_time && roles.indexOf("ROLE_SUPER_ADMIN")) {
                                // lors du click sur la case il renvoie la date vers la page new
                                window.location = Routing.generate('calendar_index') + date.format() + '/new';
                            }
                        },

                        /* ------------------------ FONCTION DU RENDU DE L'EVENEMENT ------------------------------*/

                        eventRender: function (event, element) {

                            element.each(function () {
                                element.append(
                                    '<p>' +
                                    event.titre +
                                    '</p>'
                                );
                            })
                        },

                        /* ------------------------- FONCTION DU CLICK SUR EVENT ------------------------------*/
                        eventClick: function (calEvent) {

                            var day = moment(calEvent.start._d).format("dddd Do MMMM YYYY");
                            // .format();
                            // dddd = jour en character
                            // Do = date du jour en chiffre (fontionne uniquement apres dddd)
                            // MMMMM = mois en character
                            // YYYY = année en chiffre

                            var ponctuation1 = "de";
                            var ponctuation2 = "à";
                            var startTime = moment(calEvent.start._i).format('HH:mm');
                            var endTime = moment(calEvent.end._i).format("HH:mm");
                            var Time = 'Le ' + day + '<br>' + ponctuation1 + ' ' + startTime + '<br>' + ponctuation2 + ' ' + endTime;
                            // var picture = '<img src="'+(calEvent.media)+'" alt="'+(calEvent.media)+'">';

                            var editEvent = Routing.generate('calendar') + calEvent.id + '/edit';
                            var deleteEvent = Routing.generate('calendar') + calEvent.id + '/delete';

                            // console.log('recup des données');

                            $('#modalTime').html(Time);
                            $('#modalTitle').html(calEvent.titre);
                            $('#modalTexte').html(calEvent.texte);
                            // $('#modalImage').html(picture);

                            $('#fullCalModal').modal('open');

                            $('#edit_event').show();
                            $('#edit_event').attr('href', editEvent);

                            $('#delete_event').show();
                            $('#delete_event').attr('href', deleteEvent);
                        }
    //------------------------------------------------------------------------------
                        // events: [
                        //     {
                        //         title: 'All Day Event',
                        //         start: '2018-03-01'
                        //     },
                        //     {
                        //         title: 'Long Event',
                        //         start: '2018-03-07',
                        //         end: '2018-03-10'
                        //     },
                        //     {
                        //         id: 999,
                        //         title: 'Repeating Event',
                        //         start: '2018-03-09T16:00:00'
                        //     },
                        //     {
                        //         id: 999,
                        //         title: 'Repeating Event',
                        //         start: '2018-03-16T16:00:00'
                        //     },
                        //     {
                        //         title: 'Conference',
                        //         start: '2018-03-11',
                        //         end: '2018-03-13'
                        //     },
                        //     {
                        //         title: 'Meeting',
                        //         start: '2018-03-12T10:30:00',
                        //         end: '2018-03-12T12:30:00'
                        //     },
                        //     {
                        //         title: 'Lunch',
                        //         start: '2018-03-12T12:00:00'
                        //     },
                        //     {
                        //         title: 'Meeting',
                        //         start: '2018-03-12T14:30:00'
                        //     },
                        //     {
                        //         title: 'Happy Hour',
                        //         start: '2018-03-12T17:30:00'
                        //     },
                        //     {
                        //         title: 'Dinner',
                        //         start: '2018-03-12T20:00:00'
                        //     },
                        //     {
                        //         title: 'Birthday Party',
                        //         start: '2018-03-13T07:00:00'
                        //     },
                        //     {
                        //         title: 'Click for Google',
                        //         url: 'http://google.com/',
                        //         start: '2018-03-28'
                        //     }
                        // ]

                    });
                },

                change: function(themeSystem) {
                    $('#calendar').fullCalendar('option', 'themeSystem', themeSystem);
                }

            });

        });

    </script>
    <style>

        body {
            margin: 0;
            padding: 0;
            font-size: 14px;
        }

        #top,
        #calendar.fc-unthemed {
            font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        }

        #top {
            background: #eee;
            border-bottom: 1px solid #ddd;
            padding: 0 10px;
            line-height: 40px;
            font-size: 12px;
            color: #000;
        }

        #top .selector {
            display: inline-block;
            margin-right: 10px;
        }

        #top select {
            font: inherit; /* mock what Boostrap does, don't compete  */
        }

        .left { float: left }
        .right { float: right }
        .clear { clear: both }

        #calendar {
            max-width: 900px;
            margin: 40px auto;
            padding: 0 10px;
        }

    </style>


<div id='top'>

    <div class="left">
        <a href="{{ path('homeadmin') }}">retour à l'administration</a>
        <span>|</span>
        <a href="{{ path('calendar_new') }}">Nouveau match</a>
    </div>

    <div class='right'>

        <div id='theme-system-selector' class='selector'>
            Theme System:

            <select>
                <option value='jquery-ui'selected>jQuery UI</option>
                <option value='bootstrap4'>Bootstrap 4</option>
                <option value='bootstrap3'>Bootstrap 3</option>
                <option value='standard'>unthemed</option>
            </select>
        </div>

        <div data-theme-system="bootstrap3" class='selector' style='display:none'>
            Theme Name:

            <select>
                <option value=''>Default</option>
                <option value='cosmo'>Cosmo</option>
                <option value='cyborg'>Cyborg</option>
                <option value='darkly'>Darkly</option>
                <option value='flatly'>Flatly</option>
                <option value='journal'>Journal</option>
                <option value='lumen'>Lumen</option>
                <option value='paper'>Paper</option>
                <option value='readable'>Readable</option>
                <option value='sandstone'>Sandstone</option>
                <option value='simplex'>Simplex</option>
                <option value='slate'>Slate</option>
                <option value='solar'>Solar</option>
                <option value='spacelab'>Spacelab</option>
                <option value='superhero'>Superhero</option>
                <option value='united'>United</option>
                <option value='yeti'>Yeti</option>
            </select>
        </div>

        <div data-theme-system="bootstrap4" class='selector' style='display:none'>
            Theme Name:

            <select>
                <option value=''>Default</option>
                <option value='cerulean'>Cerulean</option>
                <option value='cosmo'>Cosmo</option>
                <option value='cyborg'>Cyborg</option>
                <option value='darkly'>Darkly</option>
                <option value='flatly'>Flatly</option>
                <option value='journal'>Journal</option>
                <option value='litera'>Litera</option>
                <option value='lumen'>Lumen</option>
                <option value='lux'>Lux</option>
                <option value='materia'>Materia</option>
                <option value='minty'>Minty</option>
                <option value='pulse'>Pulse</option>
                <option value='sandstone'>Sandstone</option>
                <option value='simplex'>Simplex</option>
                <option value='sketchy'>Sketchy</option>
                <option value='slate'>Slate</option>
                <option value='solar'>Solar</option>
                <option value='spacelab'>Spacelab</option>
                <option value='superhero'>Superhero</option>
                <option value='united'>United</option>
                <option value='yeti'>Yeti</option>
            </select>
        </div>

        <div data-theme-system="jquery-ui" class='selector' style='display:none'>
            Theme Name:

            <select>
                <option value='vader' selected>Vader</option>
                <option value='black-tie'>Black Tie</option>
                <option value='blitzer'>Blitzer</option>
                <option value='cupertino'>Cupertino</option>
                <option value='dark-hive'>Dark Hive</option>
                <option value='dot-luv'>Dot Luv</option>
                <option value='eggplant'>Eggplant</option>
                <option value='excite-bike'>Excite Bike</option>
                <option value='flick'>Flick</option>
                <option value='hot-sneaks'>Hot Sneaks</option>
                <option value='humanity'>Humanity</option>
                <option value='le-frog'>Le Frog</option>
                <option value='mint-choc'>Mint Choc</option>
                <option value='overcast'>Overcast</option>
                <option value='pepper-grinder'>Pepper Grinder</option>
                <option value='redmond'>Redmond</option>
                <option value='smoothness'>Smoothness</option>
                <option value='south-street'>South Street</option>
                <option value='start'>Start</option>
                <option value='sunny'>Sunny</option>
                <option value='swanky-purse'>Swanky Purse</option>
                <option value='trontastic'>Trontastic</option>
                <option value='ui-darkness'>UI Darkness</option>
                <option value='ui-lightness'>UI Lightness</option>
            </select>
        </div>

        <span id='loading' style='display:none'>loading theme...</span>

    </div>



    <div class='clear'></div>
</div>

<div id='calendar'></div>

