{% extends 'layout.html.twig' %}

{% block body %}

    <div id="main">

        <section id="one">
            <h1>Modifier le match</h1>
        </section>

        <section id="two">
            {{ form_start(edit_form) }}
            <div class="row">
                <div class="col-6">
                    <div>
                        <p>Date et heure de match : </p>
                    </div>
                    <div>
                        {{ form_widget(edit_form.start) }}
                        {{ form_errors(edit_form.start) }}
                    </div>
                </div>
                <div class="col-6">
                    <div>
                        <p>Catégorie : </p>
                    </div>
                    <div>
                        {{ form_widget(edit_form.category, { 'id': 'mySelect' }, { 'attr': {'onchange': 'myFunction()'} }) }}  <!-- , { 'attr': {'col': '70'} -->
                        {{ form_errors(edit_form.category) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div>
                        <p>Niveau et poule : </p>
                    </div>
                    <div>
                        {{ form_widget(edit_form.level) }}
                        {{ form_errors(edit_form.level) }}
                    </div>
                </div>
                <div class="col-6">
                    <div>
                        <p>Club Domicile : </p>
                    </div>
                    <div>
                        {{ form_widget(edit_form.club1) }}
                        {{ form_errors(edit_form.club1) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div>
                        <p>Club extérieur : </p>
                    </div>
                    <div>
                        {{ form_widget(edit_form.club2) }}
                        {{ form_errors(edit_form.club2) }}
                    </div>
                </div>
                <div class="col-6">
                    <div>
                        <p>Lieu de rencontre : </p>
                    </div>
                    <div>
                        {{ form_widget(edit_form.address) }}
                        {{ form_errors(edit_form.address) }}
                    </div>
                </div>
            </div>
        </section>

        <section id="three">
            <h1>Score du match</h1>

            <div class="row">
                <div class="col-6 align-center">
                    <div>
                        {#{{ form_widget(edit_form.scores) }}#}
                        {#{{ form_errors(edit_form.scores) }}#}
                    </div>
                </div>
            </div>


        </section>

        <section id="four">
            <div class="inline">
                <input type="submit" value="Modifier" class="buttonDisconnect" />
                {{ form_end(edit_form) }}

                {{ form_start(delete_form) }}
                {{ form_widget(delete_form) }}
                <input type="submit" value="Supprimer" class="buttonDisconnect deconnexion" />
                {{ form_end(delete_form) }}

                <a href="{{ path('fullcalendar_index') }}" class="button">Retour au calendrier</a>
            </div>
        </section>

    </div>

{% endblock %}
