{% extends 'layout.html.twig' %}

{% block body %}

    <div id="main">

        <section id="one">
            <h1>Modifier le match</h1>
        </section>

        <section id="three">
            {{ form_start(edit_form) }}
            <div class="row">
                <div class="col-12">
                    <div class="display">
                        <input id="{{ edit_form.start.vars.id }}"
                               name="{{ edit_form.start.vars.full_name }}"
                               value="{{ calendar.start }}"
                               type="text" data-format="YYYY-MM-DD HH:mm:ss"
                               class="datetime24">
                        {{ form_errors(edit_form.start) }}
                        {% do edit_form.start.setRendered %}
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div>
                                <p>Catégorie : </p>
                            </div>
                            <div>
                                {{ form_widget(edit_form.category, {'attr': {'multiple': 'multiple', 'class': 'main-selectCategory'}} ) }}  <!-- , { 'attr': {'onchange': 'myFunction("select")'} } -->
                                {{ form_errors(edit_form.category) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <div>
                        <p>Club Domicile : </p>
                    </div>
                    <div>
                        {{ form_widget(edit_form.club1, {'attr': {'multiple': 'multiple', 'class': 'main-select'}}) }}
                        {{ form_errors(edit_form.club1) }}
                    </div>
                </div>
                <div class="col-2">
                    <div>
                        <p class="vsText align-center"> VS </p>
                    </div>
                </div>
                <div class="col-5">
                    <div>
                        <p>Club extérieur : </p>
                    </div>
                    <div>
                        {{ form_widget(edit_form.club2, {'attr': {'multiple': 'multiple', 'class': 'main-select'}}) }}
                        {{ form_errors(edit_form.club2) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div>
                        <p>Lieu de rencontre : </p>
                    </div>
                    <div>
                        {{ form_widget(edit_form.address) }}
                        {{ form_errors(edit_form.address) }}
                    </div>
                </div>
            </div>
        </section>

        <section id="four">
            <div class="inline">
                <input type="submit" value="Modifier" class="buttonDisconnect" />
                {{ form_end(edit_form) }}

                {{ form_start(delete_form) }}
                {{ form_widget(delete_form) }}
                <input type="submit" value="Supprimer" class="buttonDisconnect deconnexion" />
                {{ form_end(delete_form) }}

                <a href="{{ path('fullcalendar_index') }}" class="button">Retour au calendrier</a>
            </div>
        </section>

    </div>

    {% block javascripts %}
        {{ parent() }}

        <script src="{{ asset('assets/js/combodate.js') }}"></script>
        <script>
            $(function(){
                $('.datetime24').combodate();
            });
        </script>

    {% endblock %}

{% endblock %}
