{% extends 'base.html.twig' %}

{% block body %}
    <h1>Calendars list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Start</th>
                <th>End</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for calendar in calendars %}
            <tr>
                <td><a href="{{ path('calendar_show', { 'id': calendar.id }) }}">{{ calendar.id }}</a></td>
                <td>{% if calendar.start %}{{ calendar.start|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if calendar.end %}{{ calendar.end|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('calendar_show', { 'id': calendar.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('calendar_edit', { 'id': calendar.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('calendar_new') }}">Create a new calendar</a>
        </li>
    </ul>
{% endblock %}
