{% extends 'layout.html.twig' %}

{% block links %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js" />
{% endblock %}

{% block body %}

    <div id="main">

        <section id="one">
            <h1>Nouveau match</h1>
        </section>

        <section id="two">
            {{ form_start(form) }}
                <div class="row">
                    <div class="col-12">
                        <div>
                            <p>Date et heure de match : </p>
                        </div>
                        <div class="display">
                            <input id="{{ form.start.vars.id }}"
                                   name="{{ form.start.vars.full_name }}"
                                   type="text" data-format="YYYY-MM-DD HH:mm:ss"
                                   class="datetime24">
                            {{ form_errors(form.start) }}
                            {% do form.start.setRendered %}
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <div>
                                    <p>Catégorie : </p>
                                </div>
                                <div>
                                    {{ form_widget(form.category, {'attr': {'multiple': 'multiple', 'class': 'main-selectCategory'}} ) }}  <!-- , { 'attr': {'onchange': 'myFunction("select")'} } -->
                                    {{ form_errors(form.category) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <div>
                            <p>Club Domicile : </p>
                        </div>
                        <div>
                            {{ form_widget(form.club1, {'attr': {'multiple': 'multiple', 'class': 'main-select'}}) }}
                            {{ form_errors(form.club1) }}
                        </div>
                    </div>
                    <div class="col-2">
                        <div>
                            <p class="vsText align-center"> VS </p>
                        </div>
                    </div>
                    <div class="col-5">
                        <div>
                            <p>Club extérieur : </p>
                        </div>
                        <div>
                            {{ form_widget(form.club2, {'attr': {'multiple': 'multiple', 'class': 'main-select'}}) }}
                            {{ form_errors(form.club2) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div>
                            <p>Lieu de rencontre : </p>
                        </div>
                        <div>
                            {{ form_widget(form.address, {'attr': {'type': 'list', 'class': ''}}) }}
                            {{ form_errors(form.address) }}
                        </div>
                    </div>
                </div>
        </section>

        <section id="three">
            <div class="inline">
                <input type="submit" value="Enregistrer" class="buttonNew" />
                {{ form_end(form) }}

                <a href="{{ path('fullcalendar_index') }}" class="button">Retour au calendrier</a>
            </div>
        </section>

    </div>

    {% block javascripts %}
        {{ parent() }}

        <script src="{{ asset('assets/js/combodate.js') }}"></script>
        <script>
            $(function(){
                $('.datetime24').combodate();
            });
        </script>

    {% endblock %}

{% endblock %}
