{% extends 'layout.html.twig' %}

{% block body %}

    <div id="main">

        <!-- One -->
        <section id="one">
            <header class="major">
                <h2>Admininstration du site</h2>
            </header>
            <p>Vous trouverez dans cette section tout les éléments pour administrer le site</p>
        </section>

        <!-- Two -->
        <section id="two">
            <h2>Clubs / Catégories / Groupes</h2>
            <div class="row">
                <article class="col-6 col-12-xsmall work-item">
                    <a href="{{ path('clubs_index') }}" class="button primary">Administration des clubs</a>
                </article>
                <article class="col-6 col-12-xsmall work-item">
                    <a href="{{ path('categories_index') }}" class="button primary">Administration des catégories</a>
                </article>
                <article class="col-6 col-12-xsmall work-item">
                    <a href="{{ path('groups_index') }}" class="button primary">Administration des poules</a>
                </article>

            </div>
        </section>

        <!-- Three -->
        <section id="three">
            <h2>lien des clubs avec les catégories et les groupes</h2>

            <div class="row">
                <article class="col-6 col-12-xsmall work-item">
                    <a href="{{ path('clubcategory_index') }}" class="button primary">Lier une catégorie et une poule</a>
                </article>
            </div>
        </section>
        <section id="four">
            <h2>Enregistrement des lieux de matchs</h2>
            <div class="row">
                <article class="col-6 col-12-xsmall work-item">
                    <a href="{{ path('address_index') }}" class="button primary">Administration des adresses</a>
                </article>

                <article class="col-6 col-12-xsmall work-item">
                    <a href="{{ path('map_index') }}" class="button primary">map</a>
                </article>
            </div>
        </section>

        <section id="five">

        </section>

        <!-- Four -->

    </div>

{% endblock %}