{% extends 'layout.html.twig' %}

{% block body %}
    <div id="main">

        <h1>Clubs list</h1>

        <table>
            <thead>
                <tr>
                    <th>Clubname</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for club in clubs %}
                <tr>
                    <td><a href="{{ path('clubs_show', { 'id': club.id }) }}">{{ club.id }}</a></td>
                    <td>{{ club.clubName }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('clubs_edit', { 'id': club.id }) }}" class="button primary">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('clubs_new') }}" class="button">Create a new club</a>
            </li>
        </ul>

    </div>
{% endblock %}
