{% extends 'base.html.twig' %}

{% block body %}
    <h1>Clubcategories list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Clubid</th>
                <th>Categoryid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for clubCategory in clubCategories %}
            <tr>
                <td><a href="{{ path('clubcategory_show', { 'id': clubCategory.id }) }}">{{ clubCategory.id }}</a></td>
                <td>{{ clubCategory.clubId }}</td>
                <td>{{ clubCategory.categoryId }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('clubcategory_show', { 'id': clubCategory.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('clubcategory_edit', { 'id': clubCategory.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('clubcategory_new') }}">Create a new clubCategory</a>
        </li>
    </ul>
{% endblock %}
